{% extends "layout/base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<header>
    <h1>Login</h1>
    <p>Login to manage posts. Add a user in <a href="https://leancloud.cn/dashboard/">LeanCloud dashboard</a>.</p>
</header>
    <form action="{{ url_for('admin.login', next=next) }}" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
{% endblock %}