{% extends "layout.html" %}
{% block title %}Editor - Cuneiform{% endblock %}
{% block body %}
<p>Logged in as {{ current_user.get('nickname') }}. <a href="{{ url_for('logout') }}">Log out</a></p>
<div class="form">
  <form class="" enctype="multipart/form-data" action="{{ url_for('new_post') }}" method="post">
    <label>Post Title</label>
    <br>
    <input type="text" name="title" value="">
    <br>
    <label>Tags (split by comma)</label>
    <br>
    <input type="text" name="tags" value="">
    <br>
    <label>Featured Image</label>
    <br>
    <input type="file" name="featured_image" value="">
    <br>
    <label>Post Content</label>
    <br>
    <textarea name="content" rows="8" cols="40"></textarea>
    <br>
    <input type="submit" name="" value="Submit">
  </form>
</div>
{% endblock %}
