<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login - Cuneiform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  </head>
  <body>
    <div class="container">
      <form class="form-signin" action="{{ url_for('login', next=url_for('post_form')) }}" method="post">
        <h2 class="form-signin-heading">Login</h2>
        <div class="messages">
          {% with messages = get_flashed_messages(with_categories=True) %}
          {% for message, category in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endwith %}
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="username" value="" placeholder="Username">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" value="" placeholder="Password">
        </div>
        <input type="submit" class="btn btn-default" name="" value="Submit">
      </form>
    </div>
  </body>
</html>
