{% extends "layout/base.html" %}
{% block title %}{{ post.get('title') }}{% endblock %}
{% block content %}
<article>
	{% if post.get('featured_image') %}
	<img src="{{ post.get('featured_image').get_thumbnail_url(width=600, height=600) }}">
	{% endif %}
	<h1>{{ post.get('title') }}</h1>
	<div>{{ post.get('content')|safe }}</div>
	{% if g.user %}
    <a href="{{ url_for('update_post_form', post_id=post.id) }}">Edit</a>
	<a href="{{ url_for('delete_post', post_id=post.id) }}">Delete This Post</a>
	{% endif %}
</article>
{% endblock %}