{% extends "layout/base.html" %}
{% block title %}Editing: {{ post.get('title') }}{% endblock %}
{% block content %}
<form class="post" action="{{ url_for('update_post', post_id=post.id) }}", method="post" enctype="multipart/form-data">
    <input class="post-title" type="text" name="title" placeholder="Post Title" value="{{ post.get('title') }}">
    <div class="uploader-container">
        {% if not post.get('featured_image') %}
        <p class="uploader-placeholder">
        Click to upload a header image (if you want to).
        {% else %}
        <p class="uploader-placeholder" style="color:white;width:100%;background-image: url({{ post.get('featured_image').url }});background-repeat: no-repeat;background-position: center;background-size: cover;">
        Click to upload another header image.
        {% endif %}
        </p>
        <input class="uploader" type="file" name="featured_image">
    </div>
    <textarea class="post-content" name="content" placeholder="Post Content">{{ post.get('content') }}</textarea>
    <input class="submit" type="submit" value="Submit">
</form>
<script type="text/javascript">
    var uploader = document.getElementsByClassName('uploader')[0];
    uploader.onchange = function() {
        file = this.files[0];
        placeholder = document.getElementsByClassName('uploader-placeholder')[0];
        placeholder.innerText = '📦 Will upload: ' + file.name;
        placeholder.style.color = '#000'
    }
</script>
{% endblock %}