{% extends "layout/base.html" %}
{% block title %}Editing: {{ post.get('title') }}{% endblock %}
{% block content %}
<form action="{{ url_for('update_post', post_id=post.id) }}", method="post" enctype="multipart/form-data">
    <label>Post Title</label>
    <input type="text" name="title" value="{{ post.get('title') }}">
    <hr>
    {% if post.get('featured_image') %}
    <h3>Current Featured Image</h3>
    <img src="{{ post.get('featured_image').get_thumbnail_url(width=100, height=100) }}">
    <label>Upload a New One</label>
    {% else %}
    <label>Featured Image</label>
    {% endif %}
    <input type="file" name="featured_image">
    <hr>
    <label>Content</label>
    <textarea name="content">{{ post.get('content') }}</textarea>
    <input type="submit" value="Submit">
</form>
{% endblock %}